<h1>Form submission</h1>

<form action="/goodbye">
  <label for="alice">First thing</label>
  <input id="alice" type="file">

  <label for="bob">Second thing</label>
  <input id="bob" type="file">

  <button>Go to /goodbye</button>
</form>
