<form action="/square/results">
  <div>
    <label for="giraffe"> Enter a number</label> 
  </div>
  
  <div>
    <input id="giraffe" type="text" name="users_number"> 
  </div>

  <button>Calculate square</button>
</form>
