<form action="/square_root/results">
  <label for="giraffe"> Enter a number</label> 

  <input id="giraffe" type="text" name="users_number"> 

  <div>
    <button>Calculate square root</button>
  </div>
</form>
