<form action="/payment/results">
  <div>
    <label for="rhino"> APR </label> 
    <input id="rhino" type="text" name="APR_user"> 
  </div>

  <div>
    <label for="elephant"> Number of years </label> 
    <input id="elephant" type="text" name="years_user"> 
  </div>

  <div>
    <label for="zoo"> Principal </label> 
    <input id="zoo" type="text" name="principal_user"> 
  </div>

  <div>
    <button>Calculate monthly payment</button>
  </div>
</form>
