<form action="/random/results">
  <div>
    <label for="dino"> Minimum </label> 
    <input id="dino" type="text" name="min"> 
  </div>

  <div>
    <label for="tiger"> Maximum </label> 
    <input id="tiger" type="text" name="max"> 
  </div>

  <div>
    <button>Pick random number</button>
  </div>
</form>
